$fontBase: 'ALS Sector';
$fontSecondary: 'RPL';
$fontAdditional: 'TT Firs Neue';

$colorMain: #FFDD2D;
$colorBlue: #007AFF;
$colorText: #202020;
$colorWhite: #FFFFFF;
$colorGray: #9A9A9A;
$colorGrayLight: #f1f1f1;
$colorGrayMiddle: #E6E6E6;
$colorBlack: #000000;
$colorSectionBg: #F8F8F8;

/*Additional colors*/
$colorRed: #E73338;
$colorGreen: #12C158;
$colorPink: #EA8AAA;

